<!DOCTYPE html>
<html>

<head>
    <title>Dictionary Game Admin Panel</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script src="./assets/scripts/libraries/axios.min.js"></script>
    <script src="./assets/scripts/libraries/sweetalert.min.js"></script>
    <script src="./assets/scripts/libraries/vue.js"></script>
    <script src="./assets/scripts/libraries/jquery.min.js"></script>

    <script src="https://js.pusher.com/6.0/pusher.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link href="./assets/css/libraries/spectre.min.css" rel="stylesheet" type="text/css" />
    <link href="./assets/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="./assets/css/libraries/spectre-icons.min.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="admin-page">
        <div class='loading loading-lg main-loader'
            style='position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);'></div>
        <div class='pad' style='margin: 15px'>
            <div v-if='activeRound' style='min-width: 600px;'>
                <p style='font-size: 20px'>Currently accepting: {{round.voting ? "votes" : "submissions"}};
                    {{round.voting ? votes.length + '/' + users.length : submissions.length-1 + ' of ' + users.length}}
                    complete</p>
                <div v-if='round.voting'>
                    <h3>Current Votes for {{round.word}} <span style='float: right;'><button type="button"
                                v-if='round.accepting' @click='endVoting()' class='btn btn-primary'>End
                                voting</button><button type="button" v-else @click='endRound()'
                                class='btn btn-primary'>End round</button></span></h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Author</th>
                                <th>Submission</th>
                                <th>Votes</th>
                                <th>Who voted</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for='submission in submissions' :key='submission.id'>
                                <td><span class='tooltip tooltip-top'
                                        :data-tooltip='submission.isReal ? "Real" : users.find(i => i.id == submission.userId).name + "\n" + users.find(i => i.id == submission.userId).roundScore + " points earned"'>Hover
                                        to show</span></td>
                                <td>{{submission.submission}}</td>
                                <td>{{submission.votes}}</td>
                                <td>{{getVoters(submission)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else>
                    <h3>Current Submissions for "{{round.word}}" <span style='float: right;'><button type="button"
                                @click='voting()' class='btn btn-primary'>End submission &
                                start voting</button></span></h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Submission</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for='submission in submissions' :key='submission.id'
                                :class='{active: submission.isReal}'>
                                <td>{{submission.isReal ? "Real" : users.find(i => i.id == submission.userId).name}}
                                </td>
                                <td>{{submission.submission}}</td>
                                <td><span v-if='!submission.isReal'><button type="button"
                                            class='btn btn-primary tooltip tooltip-top' data-tooltip='Reject submission'
                                            @click='rejectSub(submission)'><i
                                                class="icon icon-delete"></i></button><button type="button"
                                            class='btn btn-primary tooltip tooltip-top m5-left'
                                            data-tooltip='Edit submission' @click='editSub(submission)'><i
                                                class="icon icon-edit"></i></button><button type="button"
                                            class='btn btn-primary tooltip tooltip-top m5-left'
                                            data-tooltip='Auto-fix formatting' @click='fixSub(submission)'><i
                                                class="icon icon-message"></i></button></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-if='!activeRound'>
                <h4>Start a round</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="form-switch">
                            <input type="checkbox" id='input-reverse' v-model='inputRev'>
                            <i class="form-icon"></i> Reverse round?
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label" for="input-word">Word <span style='color: red'>*</span></label>
                        </div>
                        <div class="col-9 col-sm-12">
                            <input class="form-input" type="text" id="input-word" v-model='inputWord'>
                        </div>
                    </div>
                    <p>(definition if reverse)</p>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label" for="input-def">Definition <span
                                    style='color: red'>*</span></label>
                        </div>
                        <div class="col-9 col-sm-12">
                            <input class="form-input" type="text" id="input-def" v-model='inputDef'>
                        </div>
                    </div>
                    <p>(word if reverse)</p>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label" for="input-notes">Notes?</label>
                        </div>
                        <div class="col-9 col-sm-12">
                            <textarea class="form-input" id="input-notes" v-model='inputNotes' rows="3"></textarea>
                        </div>
                    </div>
                    <button class='btn btn-primary' :class='{tooltip: !inputConditions}'
                        data-tooltip='Fill out all required fields' :disabled='!inputConditions' @click='compileInputs'
                        id='input-submit'>Start
                        round</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="./assets/scripts/admin.js"></script>

</html>