<!DOCTYPE html>
<html>

<head>
    <title>Dictionary Game</title>
    <link href="./assets/favicon.ico" type="image/x-icon" rel="shortcut icon" />

    <script src="./assets/scripts/libraries/axios.min.js"></script>
    <script src="./assets/scripts/libraries/sweetalert.min.js"></script>
    <script src="./assets/scripts/libraries/vue.js"></script>
    <script src="./assets/scripts/libraries/jquery.min.js"></script>

    <script src="https://js.pusher.com/6.0/pusher.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link href="./assets/css/libraries/spectre.min.css" rel="stylesheet" type="text/css" />
    <link href="./assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="./assets/css/libraries/spectre-icons.min.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="admin-page">
        <div class='loading loading-lg main-loader'
            style='position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);'></div>
        <div class='pad' style='display:none;'>
            <div v-if='activeRound' style='min-width: 600px;'>
                <div v-if='round.voting'>
                    <div v-if='voted'
                        style='position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);'>
                        <div class="empty">
                            <p class="empty-title h5">Thank you for your vote</p>
                            <p class="empty-subtitle">This page will automatically update when the next round begins.
                            </p>
                        </div>
                    </div>
                    <div v-else-if='!round.accepting'
                        style='position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);'>
                        <div class="empty">
                            <p class="empty-title h5">Thank you for your vote</p>
                            <p class="empty-subtitle">This page will automatically update when the next round begins.
                            </p>
                        </div>
                    </div>
                    <div v-else style='margin: 100px; margin-left: 20%;'>
                        <h4>Vote for "{{round.word}}"</h4>
                        <form class="form">
                            <div class="form-group">
                                <label class='form-radio' v-for='submission in submissions' :key='submission.id'>
                                    <input name='vote' type="radio" :value="submission.id" v-model="currentVote">
                                    <i class="form-icon"></i> {{submission.submission}}
                                </label>
                            </div>
                            <button type="button" class='btn btn-primary' :class='{tooltip: !inputConditionsV}'
                                data-tooltip='Fill out all required fields' :disabled='!inputConditionsV'
                                @click='vote()' id='input-vote'>Submit vote</button>
                        </form>
                    </div>
                </div>
                <div v-else
                    style='position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); min-width: 350px;'>
                    <div v-if='submitted'>
                        <div class="empty">
                            <p class="empty-title h5">Thank you for your submission</p>
                            <p class="empty-subtitle">When voting starts, this page will automatically update.</p>
                        </div>
                    </div>
                    <div v-else>
                        <h4>{{round.word}}</h4>
                        <p v-if='round.reverse' class='tile-subtitle'>Reverse round</p>
                        <p>{{round.notes}}</p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-3 col-sm-12">
                                    <label class="form-label" for="input-word">{{round.reverse ? 'word' : 'definition'}}
                                        <span style='color: red'>*</span></label>
                                </div>
                                <div class="col-9 col-sm-12">
                                    <input class="form-input" type="text" id="input-word" v-model='inputWord'>
                                </div>
                            </div>
                            <button type="button" class='btn btn-primary' :class='{tooltip: !inputConditions}'
                                data-tooltip='Fill out all required fields' :disabled='!inputConditions'
                                @click='submitWord' id='input-submit'>Submit
                                {{round.reverse ? 'word' : 'definition'}}</button>
                        </form>
                    </div>
                </div>
            </div>
            <div v-if='!activeRound'>
                <div class="empty"
                    style='position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);'>
                    <p class="empty-title h5">There is not currently an active round</p>
                    <p class="empty-subtitle">When the round starts, this page will automatically update.</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./assets/scripts/main.js"></script>

</html>